CamemBERT/models/camembert-base/dict.txt
CamemBERT/models/camembert-base/LICENSE
CamemBERT/models/camembert-base/model.pt
CamemBERT/models/camembert-base/sentencepiece.bpe.model
lightning_logs/version_0/hparams.yaml
lightning_logs/version_1/hparams.yaml
lightning_logs/version_2/hparams.yaml
lightning_logs/version_3/hparams.yaml
lightning_logs/version_4/hparams.yaml
lightning_logs/version_5/hparams.yaml
lightning_logs/version_6/events.out.tfevents.1710598348.macbook-pro-de-balthazar-5.home.18601.0
lightning_logs/version_6/hparams.yaml
lightning_logs/version_7/hparams.yaml
lightning_logs/version_7/metrics.csv
lightning_logs/version_7/checkpoints/epoch=3-step=304.ckpt
lightning_logs/version_8/hparams.yaml
lightning_logs/version_8/metrics.csv
lightning_logs/version_8/checkpoints/epoch=5-step=456.ckpt
lightning_logs/version_9/hparams.yaml
lightning_logs/version_9/metrics.csv
lightning_logs/version_9/checkpoints/epoch=5-step=456.ckpt
lightning_logs/version_10/hparams.yaml
lightning_logs/version_10/metrics.csv
lightning_logs/version_10/checkpoints/epoch=6-step=609.ckpt
lightning_logs/version_11/hparams.yaml
lightning_logs/version_11/metrics.csv
lightning_logs/version_11/checkpoints/epoch=2-step=261.ckpt
lightning_logs/version_12/hparams.yaml
lightning_logs/version_12/metrics.csv
lightning_logs/version_12/checkpoints/epoch=0-step=87.ckpt
lightning_logs/version_13/hparams.yaml
lightning_logs/version_13/metrics.csv
lightning_logs/version_13/checkpoints/epoch=5-step=456.ckpt
wandb/debug-cli.martin_bal.log
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
wandb/run-20240319_151456-r76ia4pq/run-r76ia4pq.wandb
wandb/run-20240319_151456-r76ia4pq/files/config.yaml
wandb/run-20240319_151456-r76ia4pq/files/output.log
wandb/run-20240319_151456-r76ia4pq/files/requirements.txt
wandb/run-20240319_151456-r76ia4pq/files/wandb-metadata.json
wandb/run-20240319_151456-r76ia4pq/files/wandb-summary.json
wandb/run-20240319_151456-r76ia4pq/logs/debug-internal.log
wandb/run-20240319_151456-r76ia4pq/logs/debug.log
wandb/run-20240319_152457-j3cajbkr/run-j3cajbkr.wandb
wandb/run-20240319_152457-j3cajbkr/files/config.yaml
wandb/run-20240319_152457-j3cajbkr/files/output.log
wandb/run-20240319_152457-j3cajbkr/files/requirements.txt
wandb/run-20240319_152457-j3cajbkr/files/wandb-metadata.json
wandb/run-20240319_152457-j3cajbkr/files/wandb-summary.json
wandb/run-20240319_152457-j3cajbkr/logs/debug-internal.log
wandb/run-20240319_152457-j3cajbkr/logs/debug.log
wandb/run-20240319_154505-aynb8nlb/run-aynb8nlb.wandb
wandb/run-20240319_154505-aynb8nlb/files/config.yaml
wandb/run-20240319_154505-aynb8nlb/files/output.log
wandb/run-20240319_154505-aynb8nlb/files/requirements.txt
wandb/run-20240319_154505-aynb8nlb/files/wandb-metadata.json
wandb/run-20240319_154505-aynb8nlb/logs/debug-internal.log
wandb/run-20240319_154505-aynb8nlb/logs/debug.log
wandb/run-20240319_154530-s1crmjc9/run-s1crmjc9.wandb
wandb/run-20240319_154530-s1crmjc9/files/config.yaml
wandb/run-20240319_154530-s1crmjc9/files/output.log
wandb/run-20240319_154530-s1crmjc9/files/requirements.txt
wandb/run-20240319_154530-s1crmjc9/files/wandb-metadata.json
wandb/run-20240319_154530-s1crmjc9/files/wandb-summary.json
wandb/run-20240319_154530-s1crmjc9/logs/debug-internal.log
wandb/run-20240319_154530-s1crmjc9/logs/debug.log
wandb/run-20240319_155402-blnpam2x/run-blnpam2x.wandb
wandb/run-20240319_155402-blnpam2x/files/config.yaml
wandb/run-20240319_155402-blnpam2x/files/output.log
wandb/run-20240319_155402-blnpam2x/files/requirements.txt
wandb/run-20240319_155402-blnpam2x/files/wandb-metadata.json
wandb/run-20240319_155402-blnpam2x/files/wandb-summary.json
wandb/run-20240319_155402-blnpam2x/logs/debug-internal.log
wandb/run-20240319_155402-blnpam2x/logs/debug.log
camembert_dom/1m7duvib/checkpoints/epoch=10-step=957.ckpt
camembert_dom/w2enl8ux/checkpoints/epoch=4-step=435.ckpt
camembert_dom/w2enl8ux/checkpoints/epoch=5-step=522.ckpt
camembert_dom/wauwtmai/checkpoints/epoch=10-step=957.ckpt
lightning_logs/version_0/metrics.csv
lightning_logs/version_0/checkpoints/epoch=0-step=87.ckpt
lightning_logs/version_2/metrics.csv
lightning_logs/version_2/checkpoints/epoch=1-step=174.ckpt
lightning_logs/version_3/metrics.csv
lightning_logs/version_3/checkpoints/epoch=1-step=174.ckpt
lightning_logs/version_4/metrics.csv
lightning_logs/version_4/checkpoints/epoch=1-step=174.ckpt
lightning_logs/version_5/metrics.csv
lightning_logs/version_5/checkpoints/epoch=1-step=174.ckpt
lightning_logs/version_6/metrics.csv
lightning_logs/version_6/checkpoints/epoch=0-step=87.ckpt
wandb/run-20240404_141201-w2enl8ux/run-w2enl8ux.wandb
wandb/run-20240404_141201-w2enl8ux/files/config.yaml
wandb/run-20240404_141201-w2enl8ux/files/output.log
wandb/run-20240404_141201-w2enl8ux/files/requirements.txt
wandb/run-20240404_141201-w2enl8ux/files/wandb-metadata.json
wandb/run-20240404_141201-w2enl8ux/files/wandb-summary.json
wandb/run-20240404_141201-w2enl8ux/logs/debug-internal.log
wandb/run-20240404_141201-w2enl8ux/logs/debug.log
wandb/run-20240405_100347-7ao50vwj/run-7ao50vwj.wandb
wandb/run-20240405_100347-7ao50vwj/files/config.yaml
wandb/run-20240405_100347-7ao50vwj/files/output.log
wandb/run-20240405_100347-7ao50vwj/files/requirements.txt
wandb/run-20240405_100347-7ao50vwj/files/wandb-metadata.json
wandb/run-20240405_100347-7ao50vwj/files/wandb-summary.json
wandb/run-20240405_100347-7ao50vwj/logs/debug-internal.log
wandb/run-20240405_100347-7ao50vwj/logs/debug.log
